#section1 {
	width: 100%;
	padding: 20px 30px;
	margin-top: 20px;
	border-radius: 12px;
	background-color: #FFF;
	display: flex;
	justify-content: space-between;
}

#search-container {
	width: 723px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.search-li {
	width: 100%;
	height: 34px;
	display: flex;
}

.search-title {
	width: 120px;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 14px;
	line-height: 30px;
}

.search-content {
	width: 593px;
	height: 100%;
	margin-left: 10px;
	display: flex;
}

.search-content.type {
	gap: 20px;
}

.search-content.status {
	gap: 20px;
}

#search-input {
	width: 100%;
	height: 100%;
	background-color: #F6F6F9;
	border-radius: 10px;
	padding: 6.5px 20px;
	display: flex;
	align-items: center;
}

#search-input::placeholder {
	font-size: 14px;
	line-height: 21px;
	letter-spacing: -0.56px;
	color: #8A8A8D;
}

.search-content.date {
	gap: 10px;
}

.date-li {
	height: 100%;
}

.date-btn, .date-detail-label {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #D3D8E0;
	border-radius: 5px;
	color: #8A8A8D;
	font-size: 14px;
	line-height: 30px;
	cursor: pointer;
}

.date-btn span {
	color: #8A8A8D;
	font-size: 14px;
	line-height: 30px;
}

.date-btn.select, .date-detail-label.select {
	border: none;
	background-color: #3578F6;
	color: #FFFFFF;
	font-weight: 700;
}

.date-btn.select span {
	border: none;
	background-color: #3578F6;
	color: #FFFFFF;
	font-weight: 700;
}

.date-li.all, .date-li.today {
	width: 54px;
}

.date-li.week, .date-li.month {
	width: 62px;
}

.date-li.detail {
	width: 321px;
}

.type-li {
	height: 100%;
}

.type-label, .type-all-label {
	height: 100%;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.type-label::before, .type-all-label::before {
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	background-image: url('/img/un-checked-20.svg'); /* 이미지 경로 */
	background-size: cover; /* 이미지를 태그에 맞게 조정 */
	background-repeat: no-repeat; /* 반복 방지 */
	background-position: center; /* 이미지 중앙 정렬 */
}

.type:checked+.type-label::before, .type-all:checked+.type-all-label::before
	{
	background-image: url('/img/checked-20.svg'); /* 체크된 상태의 이미지 경로 */
}

.type-label-text {
	font-size: 14px;
	line-height: 30px;
}

.status-li {
	height: 100%;
}

.status-label, .status-all-label {
	height: 100%;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.status-label::before, .status-all-label::before {
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	background-image: url('/img/o-un-checked.svg'); /* 이미지 경로 */
	background-size: cover; /* 이미지를 태그에 맞게 조정 */
	background-repeat: no-repeat; /* 반복 방지 */
	background-position: center; /* 이미지 중앙 정렬 */
}

.status:checked+.status-label::before, .status-all:checked+.status-all-label::before
	{
	background-image: url('/img/o-checked.svg'); /* 체크된 상태의 이미지 경로 */
}

.status-label-text {
	font-size: 14px;
	line-height: 30px;
}

#search-reset-container {
	width: 170px;
	border-left: 1px solid #D3D8E0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
	align-items: end;
}

#search-btn, #reset-btn {
	width: 140px;
	height: 40px;
	font-size: 14px;
	font-weight: 700;
	line-height: 19.07px;
	border-radius: 8px;
	text-align: center;
}

#search-btn {
	background-color: #3578F6;
	color: #FFF;
}

#reset-btn {
	background-color: #FFFFFF;
	border: 1px solid #D3D8E0;
	color: #36353A;
}

#section2 {
	width: 100%;
	background-color: #FFF;
	border-radius: 12px;
	margin-top: 20px;
	padding: 20px 30px;
}

#section2-head {
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: space-between;
}

#count-container {
	width: 57px;
	height: 100%;
	line-height: 30px;
	color: #36353A;
	display: flex;
	align-items: center;
}

#section2-head-right {
	display: flex;
	gap: 10px;
}

#all-btn-container {
	display: flex;
	gap: 10px;
}

.all-btn {
	width: 80px;
	height: 100%;
	border-radius: 5px;
	border: 1px solid #D3D8E0;
}

.subscription-container {
	position: absolute;
    z-index: 2000;
    width: 80px;
    background-color: #FFF;
    border-radius: 5px;
    border: 1px solid #D3D8E0;
    display: none;
    flex-direction: column;
    padding: 5px;
}

.subscription-container.open {
	display: flex;
}

.subscription-li {
	width: 100%;
    height: 30px;
    border-radius: 5px;
}

.subscription-li:hover {
	background-color: #F6F6F9;
}

.subscription-li-text {
	font-size: 13px;
}

.subscription-li:hover span {
	font-weight: 600;
}

.all-btn span {
	font-size: 14px;
	line-height: 19.07px;
}

#section2-btn-container {
	position: relative;
	display: flex;
	width: 100px;
	height: 100%;
	display: flex;
}

#count-list-btn {
	width: 100%;
	height: 100%;
	border: 1px solid #D3D8E0;
	border-radius: 5px;
	font-size: 14px;
	line-height: 30px;
	color: #36353A;
	padding: 0 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid #D3D8E0;
	border-radius: 5px;
	font-size: 14px;
}

.count-list-container {
	z-index: 2000;
	position: absolute;
	width: 100px;
	top: 40px;
	border: 1px solid #D3D8E0;
	border-radius: 5px;
	background-color: #FFFFFF;
	padding: 5px;
	display: none;
}

.count-list-container.open {
	display: block;
}

.count-li {
	width: 100%;
	height: 30px;
	display: flex;
}

.count-li label {
	width: 100%;
	height: 100%;
	font-size: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	cursor: pointer;
}

.count-li label:hover {
	background-color: #F6F6F9;
	font-weight: 700;
}

#result-wrap {
	margin-top: 20px;
	width: 1060px;
	display: flex;
	overflow-x: auto;
	border-radius: 5px;
	border: 1px solid #D3D8E0;
	box-sizing: content-box;
}

#result-container {
	font-size: 12px;
	line-height: 30px;
}

#result-head div, .result-body-raw div {
	box-sizing: border-box;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#result-head {
	height: 48px;
	display: flex;
	border-bottom: 1px solid #D3D8E0;
	border-radius: 5px 5px 0 0;
	background-color: #F7F7F7;
	padding: 16px 0;
	font-weight: 700;
}

.result-head-column {
	display: flex;
	height: 100%;
	align-items: center;
	border-right: 2px solid #D3D8E0;
	padding: 0 10px;
	position: relative;
	overflow: hidden;
}

.result-head-column span {
	width: 100%;
	text-align: center;
}

.column2, .column5, .column9, .column10 {
	text-align: center;
}

.column1, .column10 {
	display: flex;
	justify-content: center;
	align-items: center;
}

.result-head-column:last-child {
	border-right: none;
}

.resizer {
	position: absolute;
	top: 0;
	right: 0;
	width: 5px;
	height: 100%;
	background-color: transparent;
	cursor: ew-resize;
}

#result-body {
	position: relative;
	width: 100%;
	min-height: 400px;
	max-height: 545px;
	overflow-y: auto;
}

.result-body-raw {
	position: relative;
	display: flex;
	border-bottom: 1px solid #D3D8E0;
	height: 40px;
}

.result-body-column {
	padding: 5px 10px;
}

.result-body-column.column11, .result-body-column.column12 {
	padding: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.result-body-column span {
	height: 100%;
	width: 100%;
}

.info-btn, .del-btn{
	width: 52px;
	height: 24px;
	border-radius: 3px;
	border: 1px solid #D3D8E0;
}

.info-btn span, .del-btn span{
	font-size: 12px;
	font-weight: 400;
	line-height: 16.34px;
}

input[type="checkbox"].user, input[type="checkbox"].user-all {
	display: block;
	width: 12px;
	height: 12px;
	border: 1px solid #D3D8E0;
	border-radius: 0px;
}

/* 회원 정보 창 */
.info-wrap {
	background-color: rgba(77, 77, 77, 0.7);
	z-index: 5000;
	position: fixed;
	width: 100%;
	height: 100%;
	display: none;
	justify-content: center;
	overflow: auto;
}

.info-container-wrap {
	z-index: 6000;
	position: absolute;
	width: 820px;
	padding: 50px 0;
}

.info-container {
	position: relative;
	width: 100%;
	min-height: 740px;
	padding: 40px;
	background-color: #FFF;
	border-radius: 24px;
}

.info-head {
	width: 100%;
	font-size: 22px;
	line-height: 39.7px;
	letter-spacing: -0.44px;
}

.info-main {
	margin-top: 30px;
	width: 100%;
	min-height: 740px;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.info {
	width: 100%;
	min-height: 324px;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.address, .industry, .job {
	min-height: 88px;
}

.info-li {
	width: 100%;
}

.info-li-title {
	width: 100%;
	height: 38px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.info-li-title.add {
	height: 48px;
}

.info-li-title span {
	font-size: 16px;
	line-height: 21.79px;
}

.info-li-title.add span {
	height: 100%;
	padding: 18px 0 8px 0;
}

.info-li-input {
	display: flex;
	gap: 10px;
}

.info-li-input input {
	height: 50px;
	border: 1px solid #D3D8E0;
	border-radius: 8px;
	padding: 10px 14px;
	font-size: 15px;
	line-height: 30px;
}

.info-change-btn {
	width: 100px;
	height: 50px;
	border: 1px solid #3578F6;
	border-radius: 8px;
}

.info-del-btn {
	width: 100px;
	height: 50px;
	border: 1px solid #FF6450;
	border-radius: 8px;
}

#info-email, #info-name {
	width: 100%;
}

#info-tel, .info-address, .info-industry, .info-job {
	width: 630px;
}

.info-li-input-wrap {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.info-add-btn {
	width: 100px;
	height: 32px;
	border-radius: 8px;
	background-color: #3578F6;
}

.info-add-btn span {
	font-size: 14px;
	font-weight: 400;
	line-height: 19.06px;
	color: #FFF;
}

#info-closed-btn {
	width: 100%;
	height: 50px;
	background-color: #3578F6;
	border-radius: 8px;
}

#info-closed-btn span {
	font-size: 18px;
	line-height: 24.52px;
	color: #FFF;
}

.info-industry-job-search-wrap {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(77, 77, 77, 0.7);
	top: 0;
	left: 0;
	border-radius: 24px;
}

.info-industry-job-search-container-wrap {
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	height: 100%;
}

.info-industry-job-search-container {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 605px;
	height: 635px;
	border-radius: 16px;
	padding: 30px;
	background-color: #FFF;
}

.info-industry-job-search-title {
	width: 100%;
	height: 40px;
	font-size: 22px;
	line-height: 39.7px;
	letter-spacing: -0.44px;
}

.info-industry-job-search-filter {
	width: 100%;
	height: 107px;
	margin-top: 30px;
}

.info-industry-job-search-list {
	position: relative;
	width: 100%;
	height: 298px;
	margin: 20px 0 30px 0;
	display: flex;
	flex-direction: column;
	overflow: auto;
	gap: 20px;
}

.info-industry-job-search-btn-container {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: space-between;
}

#info-industry-job-search-closed-btn, #info-industry-job-search-add-btn
	{
	width: 262.5px;
	height: 100%;
	border-radius: 8px;
}

#info-industry-job-search-closed-btn span,
	#info-industry-job-search-add-btn span {
	font-size: 16px;
	line-height: 21.79px;
}

#info-industry-job-search-closed-btn {
	border: 1px solid #3578F6;
}

#info-industry-job-search-add-btn {
	background-color: #3578F6;
}

.info-industry-job-search-keyword-container {
	width: 100%;
	height: 61px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid #D3D8E0;
	border-radius: 8px;
	padding: 10px;
}

.info-industry-job-search-keyword {
	width: 473px;
	height: 100%;
	font-size: 16px;
	line-height: 28.87px;
	letter-spacing: -0.32px;
}

.info-industry-job-search-filter-container {
	width: 100%;
	height: 36px;
	margin-top: 10px;
	display: flex;
	gap: 10px;
}

.info-filter {
	width: 175px;
	height: 100%;
	z-index: 7000;
}

.info-filter-btn {
	width: 100%;
	height: 100%;
	border: 1px solid #D3D8E0;
	border-radius: 8px;
	padding: 0 10.5px 0 14px;
	display: flex;
	justify-content: space-between;
}

.info-filter-btn span {
	display: flex;
	align-items: center;
	font-size: 14px;
	line-height: 30px;
	color: #8A8A8D;
}

.info-filter-text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: flex;
	width: 128px;
}

.info-filter-text.select {
	color: #36353A;
}

.info-filter-li-container {
	width: 100%;
	max-height: 300px;
	border: 1px solid #D3D8E0;
	border-radius: 8px;
	background-color: #FFF;
	display: none;
	flex-direction: column;
	overflow: auto;
}

.info-filter-li {
	width: 100%;
	height: auto;
	cursor: pointer;
	font-size: 14px;
	line-height: 30px;
	border-radius: 8px;
	padding: 0 14px;
	text-align: left;
}

.info-filter-li:hover {
	background-color: #F6F6F9;
}

.info-filter-li:hover span {
	font-weight: 600;
}

.info-job-li {
	width: 100%;
	height: 29px;
}

.info-job-li-label {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center; font-size : 16px;
	line-height: 28.87px;
	letter-spacing: -0.32px;
	cursor: pointer;
	font-size: 16px;
}

.info-job-li-label::before {
	content: '';
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-right: 10px;
	background-image: url('/img/un-checked-o-24.svg'); /* 이미지 경로 */
	background-size: cover; /* 이미지를 태그에 맞게 조정 */
	background-repeat: no-repeat; /* 반복 방지 */
	background-position: center; /* 이미지 중앙 정렬 */
}

.info-job-li-input:checked+.info-job-li-label::before {
	background-image: url('/img/checked-o-24.svg'); /* 체크된 상태의 이미지 경로 */
}